extends layout

block content
    div(class='container refresh')
        button.button(onclick="refreshPage()")
            span.text Refresh

    ul
        each item in devices
            - var knownData = "null"
            - var shown = "null"
            if item.status === "Configured"
                div(class='cartoon-container')
                    p
                        b(style="font-size: 18px;") #{item.name}
                            button.button(onclick=`redirectTo('/update?topic=${item.topic}')`)
                                span.text Reconfigure
                        each inputDATA in switchData
                            if item.id === inputDATA.device_id
                                if shown !== "known"
                                    - shown = "known"
                                    div(class='cartoon-container' style=`height: auto; width: 350px; margin-bottom: 10px; position: static; padding-top: -10px`)
                                        each input in switchData
                                            if input.device_id === item.id
                                                if input.data_type === "text"
                                                    input(type="textfield", value=`${input.reading}` method='POST' action='/updateStatus' style=`height: 40px; margin-right: 10px`)
                                                    button.button-confirm() click here
                                                else if input.data_type === "boolean"
                                                    div(class='container')
                                                        input.button-confirm(type="checkbox", value=`${input.reading} ` method='POST' action='/updateStatus')
                    div(class='cartoon-container left')
                        div(class='container-wrapper')
                            div(class='container-left')
                                div(id='list-container-left', class='list-element')
                                    each data in sensorData
                                        if item.name === data.device_name
                                            if data.data_name === knownData
                                                ul
                                                    li
                                                        | #{data.data_name}:
                                                        br
                                                        | #{data.reading}
                                            else if knownData === "null"
                                                - knownData = data.data_name
                                                ul
                                                    li
                                                        | #{data.data_name}:
                                                        br
                                                        | #{data.reading}
                            div(class='container-right')
                                div(id='list-container-right', class='list-element')
                                    each data in sensorData
                                        if item.name === data.device_name
                                            if data.data_name !== knownData
                                                ul
                                                    li
                                                        | #{data.data_name}:
                                                        br
                                                        | #{data.reading}

    script.
        function refreshPage() {
            location.reload(); // Reload the page
        }

        function redirectTo(url) {
            window.location.href = url;
        }
