extends layout

block content
    div(class='text-center center-div')
        h1 List of discovered devices
    - var index = 0;
    each item in arduinos
        div.form-container(style="display: none;" id=item[0])
            div(class='text-center center')
                form.form(method='POST' action='/deviceSetup')
                    div(class='center')
                        .title
                            | #{item[0]}
                            br
                            span Insert the information about the device below
                        input(type="string", placeholder="Device name", name="name", class="input", required=true)
                        input(type="string", placeholder="Wifi name", name="ssid", class="input", required=true)
                        input(type="password", placeholder="Wifi password", name="ssid_pass", id="password" class="input", required=true)
                        | Show password
                        input(type="checkbox", onclick=`hideViewPassword()`)
                        br
                        input(type="string", hidden=true, name="serial", id="serial", class="input", required=false, default=item[2])
                        button.button-confirm(onclick=`setStatus("${index}")`) Create
            - index = index + 1

    div(class="row center")
        each item in arduinos
            button.button(onclick=`toggleFormVisibility("${item[0]}")`, style='height: auto; width: auto; padding: 20px;')
                span.text #{item[0]} <br> Status: #{item[1]}

    script.
        if(alert === 'data stored succesfully'){
            var allForms = document.querySelectorAll('.form-container');
            allForms.forEach(function (form) {
                form.style.display = 'none';
            })
        };

        function setStatus(index){
            arduinos[index][1] = "Configured"
        }

        function hideViewPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
                hideView = "Hide password";
            } else {
                x.type = "password";
                hideView = "View password";
            }
        }

        function toggleFormVisibility(item) {
            // Get the selected form
            var formDiv = document.getElementById(item);

            // Check if the form is currently visible
            var isVisible = formDiv.style.display === 'block';

            // Hide all forms first
            var allForms = document.querySelectorAll('.form-container');
            allForms.forEach(function (form) {
                form.style.display = 'none';
            });

            // If the form was not visible, show it; otherwise, hide it
            formDiv.style.display = isVisible ? 'none' : 'block';
        }
